.body {
    background-color: black;
    color: white;
}

.imagery img {
    height: 130px;
    width: 130px;
}

button {
    cursor: pointer;
    margin-left: 40%;
    color: white !important;
}

button a:hover {
    color: black;
}

.imagery2 img {
    height: 260px;
    width: 500px;
}

h1,
h2 {
    font-weight: 700;
}