.Ricky{
    display: flex;
    justify-content: space-evenly;
    padding: 1vw;
}
.Mustafa, .Billy, .David{
    width: 30vw;
    text-align: center;
    background-color: black;
    color: white;
}
.items{
    display: block;
    margin-top: 3vh;
    align-items: center;
}
.items img{
    width: 70%;
    height: 30vh;
    object-fit: fill;
}
.hid{
    display: none;
    cursor: pointer;
}
.about, .hire{
    cursor: pointer;
}
.about:hover, .hire:hover{
    background-color: green;
}
h3{
    font-weight: bolder;
}